<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>SCSS 핵심이론(11-2) - @import로 분할(partoal)된 파일</title>
    <link rel="stylesheet" href="/SCSS/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>
                Headline Text in Header
            </h1>
        </header>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores expedita vero aliquam.
                Numquam quia consectetur quis ullam, aperiam, dicta blanditiis, quisquam praesentium ducimus
                voluptatum nulla quod expedita ipsam dignissimos?</p>
        </section>

    </div>
    <footer>
        Heading Text in footer
    </footer>
</body>

</html>