<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
  <meta charset="UTF-8">
  <title>index.html</title>
</head>
<style>
  input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  body {
    font-size: 20px;
  }

</style>
<body>


<h1 th:text="'타임리프 페이지 - index.html'"></h1>
<p><a th:href="@{http://www.naver.com}" th:text="'네이버로 이동..'"></a></p>
<input th:type="text" id="dateField" th:placeholder="|Enter a date in  DD.MM.YYYY format|" />
<p>Date is<span></span></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>

  const today = moment();
  console.log("Today's date is: " + today.format('YYYY-MM-DD'));

  const dateTextField = document.querySelector('input');
  const validStatus = document.querySelector('span');

  function checkDateValidity(){
    const dateEntered = this.value;
    const dateIsValid = moment(dateEntered, "DD.MM.YYYY", true).isValid();
    validStatus.textContent = dateIsValid ? 'valid' : 'invalid';

  }

  dateTextField.addEventListener('keyup', checkDateValidity, false);
  checkDateValidity();

  //javascript quiz
  const mynum = () =>{
    return;
    return 9;
  };
  console.log(mynum());
  console.log(mynum()<10);

  //javascript quiz
  console.log("0===null "+0===null);

  //javascript quiz
  console.log(8+ +"10");
  console.log(8+ "10");




</script>

</body>
</html>