<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <title>moment.js 제이쿼리 형식</title>
</head>
<style>
    input {
        width: 300px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    body {
        font-size: 20px;
    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<!--org.thymeleaf.exceptions.TemplateProcessingException: Could not parse as expression: 오류때문에 placeholder에 ||로 감쌌음-->
<input th:id="input" th:type="text" id="dateField" th:placeholder="|Enter a date in  DD.MM.YYYY format|"/>
<p>Date is <span th:id="span"></span></p>

<script>

    const today = moment();
    console.log("Today's date is: " + today.format('YYYY-MM-DD'));


    // Data 검증
    let dataTextField = $('input');
    const validStatus = $('span');

    console.log("dataTextField : " + dataTextField);
    console.log("validStatus : " + validStatus);

    function checkDateValidity() {
        const dateEntered = $(this).val();
        const dateIsValid = moment(dateEntered, "DD.MM.YYYY", true).isValid();
        validStatus.text(dateIsValid ? 'valid' : 'invalid');
    }

    $(document).ready(function () {
        dataTextField.keyup(checkDateValidity);
    });


</script>

</body>
</html>