<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
  <meta charset="UTF-8">
  <title>queryselector 형식</title>
</head>
<style>
  input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  body {
    font-size: 20px;
  }

</style>
<body>

<input th:type="text" id="dateField" th:placeholder="|Enter a date in  DD.MM.YYYY format|" />
<p>Date is<span></span></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>

  const today = moment();
  console.log("Today's date is: " + today.format('YYYY-MM-DD'));

  const dateTextField = document.querySelector('input');
  const validStatus = document.querySelector('span');

  function checkDateValidity(){
    const dateEntered = this.value; //input 값
    const dateIsValid = moment(dateEntered, "DD.MM.YYYY", true).isValid();
    validStatus.textContent = dateIsValid ? 'valid' : 'invalid'; //지정한 날짜 형식에 맞으면 valid

  }

  dateTextField.addEventListener('keyup', checkDateValidity, false);
  checkDateValidity();


</script>

</body>
</html>