<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>SCSS 핵심이론(10-1) - 변수(Variables)와 데이터 타입 </title>
    <link rel="stylesheet" href="10-1.css">
</head>

<body>
    <section class="portfolio">
        <h1>Trable & Tour Agency</h1>
        <div class="portfolio-items">
            <div class="portfolio-item">1</div>
            <div class="portfolio-item">2</div>
            <div class="portfolio-item">3</div>
            <div class="portfolio-item">4</div>
            <div class="portfolio-item">5</div>
            <div class="portfolio-item">6</div>
            <div class="portfolio-item">7</div>
            <div class="portfolio-item">8</div>
        </div>
    </section>
</body>

</html>