<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>SCSS 핵심이론(11) - 외부파일 가져오기 @import </title>
    <link rel="stylesheet" href="11.css">
</head>

<body>
    <h1>SCSS @import rule</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, tempora natus labore provident voluptates fugit
        suscipit aut similique harum explicabo iusto reiciendis aliquid, quisquam molestias inventore sapiente dolorum
        facere laudantium.</p>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, fugit!
        </li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio quam numquam, corrupti nisi
            molestias nobis commodi. Fugiat, dicta expedita!</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, neque ratione fuga ut minus nostrum.</li>
    </ul>

</body>

</html>