<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>다중 변수 선언, 내장함수 (map-get) </title>
    <link rel="stylesheet" href="16.css">
</head>

<body>
    <div class="frame">
        <h1>CodingWorks Class</h1>
        <h2>Publishing in Inflearn</h2>
        <h3>Call me anytime...!!!</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorum labore porro autem reiciendis illum
            dolore repellat. Assumenda vel, labore deleniti voluptatibus, sunt minus sint ratione dicta ducimus minima
            iusto?
        </p>
    </div>
</body>

</html>