<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>block, inline, inline-block</title>
        <link rel="stylesheet" href="01.css">
    </head>
    <body>
        <!-- 블록 -->
        <div class="block1">이것은</div>
        <div class="block2">블럭요소입니다.</div>

        <!-- 인라인 요소 -->
        <span class="span1">인라인1</span>
        <span class="span2">인라인2</span>
        <span class="span3">인라인3</span>
        <span class="span1">인라인1</span>
        <span class="span2">인라인2</span>
        <span class="span3">인라인3</span>

        <div class="block3">한줄</div>

        <!-- 인라인 블록 -->
        <div class="inline-block">인라인 블록</div>
        <div class="inline-block">ㅎㅎ</div>
    </body>
</html>
